<div id="home-page" data-name="home-page" class="page">

  <!-- Top Navbar -->

  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link move-back">
          <i class="icon icon-back"></i>
          <span>Back</span>
        </a>
      </div>
      <div class="title">Home</div>
    </div>
  </div>





  <!-- Scrollable page content -->
  <div class="page-content">
    <home-data-view key="content"></home-data-view>
  </div>
</div>