<div class="block">
    <if(state.record)>
        <div class="card data-table">
            <table>
                <thead>
                    <tr>
                        <th class="label-cell">State </th>
                        <th class="label-cell">Division</th>
                        <th class="label-cell">District Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label-cell">${state.record[1]}</td>
                        <td class="label-cell">${state.record[2]}</td>
                        <td class="label-cell">${state.record[3]}</td>


                    </tr>

                </tbody>
            </table>

        </div>
        <div class="card data-table">
            <table>
                <thead>
                    <tr>
                        <th class="label-cell">Confirmed</th>
                        <th class="numeric-cell">Deaths</th>
                        <th class="numeric-cell">Recovered</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label-cell">${state.record[4]}</td>
                        <td class="numeric-cell">${state.record[5]}</td>
                        <td class="numeric-cell">${state.record[6]}</td>

                    </tr>

                </tbody>
            </table>

        </div>

        <div class="block block-strong">
            <p>Load on Medical Facility
                <a href="#" class="link tooltip-init profile-link" data-tooltip="What does this mean">
                    "?"

                </a>

            </p>
            <div>
                <p>
                    <div data-progress="${state.record[7]}" style="height: 1em;" class="progressbar color-blue"
                        key="medical"></div>
                </p>
                <p class="segmented segmented-raised">
                    <a href="#" data-progress="${state.record[8]}"
                        class="button set-inline-progress color-blue">${state.record[7]}%</a>
                    <!-- <a href="#" data-progress="30" class="button set-inline-progress color-green">30%</a>
                <a href="#" data-progress="50" class="button set-inline-progress color-orange">50%</a>
                <a href="#" data-progress="100" class="button set-inline-progress color-red">100%</a> -->
                </p>
            </div>
        </div>

        <div class="block block-strong">
            <p>Load on Civil Facility
                <a href="#" class="link tooltip-init profile-link" data-tooltip="What does this mean">
                    "?"

                </a>
            </p>
            <div>
                <p>
                    <div data-progress="${state.record[8]}" style="height: 1em;" class="progressbar color-red"
                        key="civil">
                    </div>
                </p>
                <p class="segmented segmented-raised">
                    <!-- <a href="#" data-progress="10" class="button set-inline-progress color-blue">10%</a>
                <a href="#" data-progress="30" class="button set-inline-progress color-green">30%</a>
                <a href="#" data-progress="50" class="button set-inline-progress color-orange">50%</a> -->
                    <a href="#" data-progress="${state.record[8]}"
                        class="button set-inline-progress color-red">${state.record[8]}%</a>
                </p>
            </div>
        </div>
        </if>
</div>