<div id="login" data-name="login" class="page ">

  <!-- Top Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">

      <div class="title">Login</div>


    </div>
  </div>

  <!-- Toolbar -->


  <!-- Scrollable page content -->
  <div class="page-content">
    <login-form on-login('login_success')></login-form>
  </div>
</div>