<form action="javascript:void(0);">
  <div class="list no-hairlines-md">
    <ul>
      <li class="item-content item-input item-input-with-info">
        <div class="item-inner">
          <div class="item-title item-label">Pincode</div>
          <div class="item-input-wrap">
            <input type="number" key="pincode" name="pincode" placeholder="110027" value="110027" required>

            <span class="input-clear-button"></span>
            <div class="item-input-info">Your Delhi Pincode(Ex- 110027)</div>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="list">
    <ul>
      <li><a id="login-button" class="item-link list-button" on-click('signIn') disabled href="#">Submit</a></li>


    </ul>

  </div>


</form>