<site-layout>
  <@title>Marko Starter</@title>
  <@content>
    <h1>Delhi Govt App to fight Covid-19</h1>
    <a-rel href="/mobile">
      <@content>Launch App</@content>
    </a-rel>
  </@content>
</site-layout>